<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Census</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body id="body">
<div id="loading-screen">
    <div id="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
    <br>
    <p id="loading-text">Loading Map...</p>
</div>
<header></header>
<main>
    <div id="info-box"></div>
    <?xml version="1.0" encoding="utf-8"?>
    <div id="svg-container">

    </div>

    <div id="options-container">
        <p id="switch-label">Color by: </p>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch" checked>
            <label class="onoffswitch-label" for="onoffswitch" onclick="toggleDisplay()">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>

        <div>
            <p class="color-label"><i class="fas fa-square color-block" style="color: #ff0000"></i> =Highest Ranked</p>
            <p class="color-label"><i class="fas fa-square color-block" style="color: #00ff00"></i></span> = Lowest
                Ranked
            </p>
        </div>
    </div>
    <script type="text/javascript">
        $('#svg-container').load('static/img/us-map.svg');

        $.getScript("static/js/main.js", function (data, textStatus, jqxhr) {/* Do Nothing */
        });
    </script>
</main>
<footer>
    <p>&copy; 2019 Daniel Ivanovich & Justin Zhu <a href="https://github.com/Ivanov1ch/US-Census"><i
            class="fab fa-github"></i></a></p>
</footer>
</body>
</html>