<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Census</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body id="body">
<div id="info-box"></div>
<?xml version="1.0" encoding="utf-8"?>
<div id="svg-container">

</div>
<script type="text/javascript">
    $('#svg-container').load('static/img/us-map.svg');

    $.getScript("static/js/main.js", function (data, textStatus, jqxhr) {/* Do Nothing */});
</script>
<footer>

</footer>
</body>
</html>